---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="inline-flex items-center justify-center gap-2 px-3 py-2 text-base text-white transition-colors duration-150 bg-gray-800 border border-gray-600 hover:bg-gray-700 hover:border-primary/50 group max-w-fit rounded-xl focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary"
>
    <slot />
</a>
