@import "tailwindcss";


.primary {
  color: #3678cf;
}
.secondary {
  color: #214b81;
}
.bg-primary {
  background-color: #3678cf;
}
.bg-secondary {
  background-color: #214b81;
}
.text-primary {
  color: #3678cf;
}

/* reglas hover (usar estas clases directamente) */
.hover-text-secondary:hover {
  color: #3678cf;
}
.hover\:text-secondary:hover {
  color: #214b81;
}
.hover-bg-secondary:hover {
  background-color: #3678cf;
}
.hover\:bg-secondary:hover {
  background-color: #214b81;
}


.text-shadow {
  text-shadow: 2px 2px 0 #3678cf;
}